apiVersion: v1
kind: Secret
metadata:
  name: todo-app-secrets
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "todo-app.labels" . | nindent 4 }}
type: Opaque
data:
  DATABASE_URL: {{ .Values.secrets.databaseUrl | quote }}
